@model TorrentCheck.Models.HomeViewModels.SearchViewModel

@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_LayoutSearch.cshtml";
}

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

<hr />

<div class="container">
    <div class="col-lg-12">
        @if (Model.SQLResults == null && Model.HTTPResults == null)
        {
            <h4>No results matching your conditions were found.</h4>
        }
        else
        {
            @if (Model.SQLResults != null)
            {
                <h4>TorrentCheck Exclusives:</h4>
                <ul>
                    @foreach (Result element in Model.SQLResults)
                    {
                        <li>
                            <div id="result">
                                Title: @element.Title | Trusted: @element.Trusted.ToString() | Category: @element.Category.ToString() | <a href="#" onclick="showFiles()">Show files</a> | <a href="@element.MagnetLink">Magnet</a> |
                                @Html.ActionLink(
                                    linkText: "Download",
                                    actionName: "Download",
                                    controllerName: "Home",
                                    routeValues: new
                                    {
                                        FilePath = element.FilePath
                                    },
                                    htmlAttributes: null
                                )
                            </div>
                            <div id="files" hidden>
                                @foreach (File file in element.Files)
                                {<p class="help-block">
                                        @file.Name - @Convert.ToString(file.Size / 1024 / 1024) MB @if (file.FullPath != null)
                                        {@file.FullPath}
                                    </p>}
                            </div>
                        </li>
                    }
                </ul>

                <br />
            }

            @if (Model.HTTPResults != null)
            {
                <table data-toggle="table" id="TableHTTP">
                    <thead>
                        <tr>
                            <th data-field="tite">Title</th>
                            @if (Model.IncludeUntrustedResults)
                            { <th data-field="trusted">Trusted</th> }
                            <th data-field="category">Category</th>
                            <th data-field="seeders">Seeders</th>
                            <th data-field="leechers">Leechers</th>
                            <th data-field="uploadTime">Upload time</th>
                            <th data-field="uploadDate">Upload date</th>
                            <th data-field="source">Source</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Result element in Model.HTTPResults)
                        {
                        <tr>
                            <td>
                                @Html.ActionLink(
                                linkText: element.Title,
                                actionName: "GetMagnetLink",
                                controllerName: "Home",
                                routeValues: new
                                {
                                    resultURL = element.ExtLink
                                },
                                htmlAttributes: null)
                            </td>
                            @if (Model.IncludeUntrustedResults)
                            { <td>@element.Trusted.ToString()</td> }
                            <td>@element.Category.ToString()</td>
                            <td>@element.Seeders</td>
                            <td>@element.Leechers</td>
                            <td>
                                @if (element.UploadDate.Date == DateTime.Today)
                                {@element.UploadDate.ToShortTimeString()}
                            </td>
                        @if (element.UploadDate.Date == DateTime.Today)
                        {
                            <td>Today</td> }
                        else
                        {
                            <td>@element.UploadDate.ToShortDateString()</td>
                        }
                            <td><a href="@element.ExtLink">Link</a></td>
                        </tr>
                        }
                    </tbody>
                </table>

                <br />
            }
        }
    </div>
</div>

<script>
    function showFiles() {
        $("#files").slideToggle("fast");
    }
</script>